fastapi
uvicorn[standard]
pymongo
python-multipart
mysql-connector-python
python-dotenv
pydantic
sentence-transformers
scikit-learn
nltk
pandas
apscheduler
psycopg2
asyncpg
tqdm

bertopic
hdbscan
umap-learn
yake
